<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devices</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">

    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/datatables_extension_select.js"></script>

    <script type="text/javascript" src="assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

    <!-- custome jquey-->
    <script type="text/javascript" src="assets/js/script.js" th:inline="javascript"></script>
    <script type="text/javascript" src="assets/js/bootstrap-sortable.js"></script>
    <link href="assets/js/bootstrap-sortable.css" rel="stylesheet" type="text/css">
    <!-- /custome jquey-->
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-container">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Devices</h4>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>
            <div class="panel-body">

                <td><button
                       class="btn btn-primary" role="button" id="btnReboot">Reboot</button></td>
                <td><button
                            class="btn btn-primary" role="button" id="btnResetFactory">ResetFactory</button></td>

                <div class="heading-elements">
                    <ul class="pagination pagination-flat pagination-sm">

                        <li th:class="${pageModel.isFistPage()} ? 'first disable' : 'first' ">
                            <span th:if="${pageModel.isFistPage()}">⇤</span>
                            <a th:if="${not pageModel.isFistPage()}" th:href="@{/getPage?indexPage=1&limit=0}"
                               class="page-link" >⇤</a>
                        </li>
                        <li th:class="${pageModel.isFistPage()} ? 'prev disable' : 'prev' ">
                            <span th:if="${pageModel.isFistPage()}">⇠</span>
                            <a th:if='${not pageModel.isFistPage()}'
                               th:href="@{'/getPage?indexPage='+ ${pageModel.previous} +'&limit=0'}" class="page-link"
                               >⇠</a>
                        </li>

                        <!--<li>-->
                            <!--<a th:if='${pageModel.isHasPrevious()}' th:href="@{#}">...</a>-->
                        <!--</li>-->

                        <li th:each="m : ${listPageModel}" th:class="${m.isActive()} ? 'page active' : '' ">
                            <a th:href="${m.url}" th:text="${m.id}" class="page-link"></a>
                        </li>
                        <!--<li>-->
                            <!--<a th:if='${pageModel.isHasNext()}' th:href="@{#}">...</a>-->
                        <!--</li>-->
                        <li th:class="${pageModel.isLastPage()} ? 'next disable' : 'next' ">
                            <span th:if="${pageModel.isLastPage()}">⇢</span>
                            <a th:if='${not pageModel.isLastPage()}'
                               th:href="@{'/getPage?indexPage='+ ${pageModel.next} +'&limit=0'}" class="page-link"
                               >⇢</a>
                        </li>
                        <li th:class="${pageModel.isLastPage()} ? 'last disable' : 'last' ">
                            <span th:if="${pageModel.isLastPage()}">⇥</span>
                            <a th:if="${not pageModel.isLastPage()}"
                               th:href="@{'/getPage?indexPage='+${pageModel.maxPage}+'&limit=0'}"
                               class="page-link" >⇥</a>
                        </li>

                    </ul>
                    <!--<select name="selectPage" class="input-sm" id="selectPage" style="text-align-last:center;">-->
                        <!--<option value="default">- Select page -</option>-->
                        <!--<option th:each="m : ${selectBoxList}" th:value="${m.url}" th:text="'page ' +${m.id}"-->
                                <!--th:selected="${m.isActive()}"></option>-->
                    <!--</select>-->
                </div>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="datatable-scroll">

                    <table class="table datatable-sorting dataTable no-footer sortable" id="DataTables_Table_0"
                           role="grid"
                           aria-describedby="DataTables_Table_0_info">
                        <thead>
                        <tr role="row">
                            <th class="select-checkbox" data-defaultsort="disabled" rowspan="1"
                                colspan="1">
                                <center>
                                    <input type="checkbox"  id="checkAll"/>
                                </center>
                            </th>

                            <th th:each="key : ${indexParams.keySet()}" tabindex="0"
                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1" data-sortable="true"
                                th:text="${indexParams.get(key)}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="device:${devices}" role="row" >
                            <td>
                               <center> <input type="checkbox" class="myCheckBox"  th:id="${device.id}"/></center>
                            </td>
                            <td th:each="key : ${indexParams.keySet()}" th:text="${device.parameters.get(key)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


</th:block>
</body>
</html>